body {
  background-color: #FFFFFF;
}

#header-navigation {
  display: flex;
  margin: 0 auto;
  width: 94%;
  max-width: 900px;
  list-style: none;
  overflow: hidden;
 position: relative;
}
 
#header-navigation li {
  width: calc(100%/3);
  text-align: center;
  background-color: #EEEEEE;
  float: left;
  height: 65px;
  line-height: 50px;
  margin-right: 2px;
}
 
#header-navigation li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  padding: 20px;
}

.sample {
    width:60px;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    color:#fff;
    background-color:#49a9d4;
    border-radius:5px;
    margin: 0 0 0 auto;
}